@use "C:\Users\willf\quartz\quartz\styles\variables.scss" as *;
@use "sass:color";

.callout {
    border: 1px solid var(--border);
    background-color: var(--bg);
    border-radius: 5px;
    padding: 0 1rem;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
    box-sizing: border-box;

    &[data-callout] {
        --color: #448aff;
        --border: #448aff44;
        --bg: #448aff10;
    }

    &[data-callout="abstract"] {
        --color: #00b0ff;
        --border: #00b0ff44;
        --bg: #00b0ff10;
    }

    &[data-callout="info"],
    &[data-callout="todo"] {
        --color: #00b8d4;
        --border: #00b8d444;
        --bg: #00b8d410;

    }

    &[data-callout="todo"] {

    }

    &[data-callout="tip"] {
        --color: #00bfa5;
        --border: #00bfa544;
        --bg: #00bfa510;

    }

    &[data-callout="success"] {
        --color: #09ad7a;
        --border: #09ad7144;
        --bg: #09ad7110;

    }

    &[data-callout="question"] {
        --color: #ae44d5;
        --border: #ae44d544;
        --bg: #ae44d510;

    }

    &[data-callout="warning"] {
        --color: #db8942;
        --border: #db894244;
        --bg: #db894210;

    }

    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
        --color: #db4242;
        --border: #db424244;
        --bg: #db424210;

    }

    &[data-callout="bug"] {

    }

    &[data-callout="danger"] {

    }

    &[data-callout="example"] {
        --color: #7a43b5;
        --border: #7a43b544;
        --bg: #7a43b510;

    }

    &[data-callout="quote"] {
        --color: var(--secondary);
        --border: var(--lightgray);

    }

    &.is-collapsed > .callout-title > .fold-callout-icon {
        transform: rotateZ(-90deg);
    }
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 1rem 0;
  color: var(--color);

  --icon-size: 18px;

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner > p {
    color: var(--color);
    margin: 0;
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 0.2rem 0;
  }

  .callout-title-inner {
    font-weight: $semiBoldWeight;
  }
}