/* beginning and end of footnote */
.cm-inline-footnote-start,
.cm-inline-footnote-end {
    opacity: 0.5;
}

/* styling the footnote footnote */
.cm-inline-footnote-start,
.cm-inline-footnote-end,
.cm-inline-footnote {
    color: #53dfdd;
    font-size: 60%;
    position: relative;
    top: -4px;
}

div:not(.cm-active) > .cm-inline-footnote {
    font-size: 0;
}
div:not(.cm-active) > .cm-inline-footnote-end {
    font-size: 0;
}

/* beginning and end of footnote */
.cm-hmd-barelink-start,
.cm-hmd-barelink-end {
    opacity: 0.5;
}

/* styling the footnote footnote */
.cm-hmd-barelink-start,
.cm-hmd-barelink-end,
.cm-inline-footnote {
    color: #53dfdd;
    font-size: 60%;
    position: relative;
    top: -4px;
}

div:not(.cm-active) > .cm-hmd-barelink {
    font-size: 0;
}
div:not(.cm-active) > .cm-hmd-barelink-end {
    font-size: 0;
}