.cm-header-1, .markdown-preview-view h1 {
    color: #FFCCBC;
}

.cm-header-1, .markdown-preview-view h2 {
    color: #82A3A1;
}

.cm-header-1, .markdown-preview-view h3 {
    color: #f39ba0;
}

.cm-header-1, .markdown-preview-view h4 {
    color: #FF3864;
}

.cm-header-1, .markdown-preview-view h5 {
    color: #EBF38B;
}

.cm-header-1, .markdown-preview-view h6 {
    color: #EBF38B;
}

.markdown-source-view .HyperMD-header-1 span {
    color: #FFCCBC;
}
.markdown-source-view .HyperMD-header-2 span {
    color: #82A3A1;
}
.markdown-source-view .HyperMD-header-3 span {
    color: #f39ba0;
}

.markdown-source-view .HyperMD-header-4 span {
    color: #FF3864;
}
.markdown-source-view .HyperMD-header-5 span {
    color: #EBF38B;
}
.markdown-source-view .HyperMD-header-6 span {
    color: #EBF38B;
}

